<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" 
			 connectionString="Data source=(localDB)\MSSQlLocalDB;AttachDbFilename=|DataDirectory|\Database\QuanLyKhachSan.mdf;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>